.container .para-you {
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #585858 !important;
    padding-top: 190px !important;
    margin-bottom: 15px !important;
}

#para11 {
    color: #585858 !important;
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-bottom: 20px !important;
}

#container #btn {
    background-color: #8ED874 !important;
    border: 4px solid #79E16B !important;
    outline: 4px solid #AAF2A8 !important;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 0px 10px 15px#D3D3D3;
    width: 273px;
    height: 44px;
    margin-bottom: 40px;
    color: #ffffff;
}

#plaid-para {
    color: #010101;
    font-size: 15px;
    font-weight: 400;
}

.para3 {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #8c8c8c !important;
}

.para3-span {
    font-weight: 500;
    font-size: 15px;
    color: #585858;
}

.cont {
    padding-top: 210px !important;
}