#logo-svg{
    width: 212px;
    height: 33px;
    position: relative;
    top: 85px;
    left: 102px;
}

#container{
    text-align: center;
}

.container{
    padding-top: 155px;
}

#container #para{
    font-size: 25px !important;
    font-weight: 700 !important;
    color: #585858 !important;
    margin-bottom: 20px !important;
}

#container input{
    margin-bottom: 15px;

}

#container #para3{
    margin-top: 220px;
}

.container .paraa{
    font-size: 16px !important;
    color: #585858 !important;
    font-weight: 200 !important;
}

.container .paraa1{
    font-size: 16px !important;
    color: #585858 !important;
    font-weight: 200 !important;
    margin-bottom: 40px !important;
}

#btn{
    background-color: #171717 !important;
    border: 3px solid #0F0F0F !important;
    outline: 3px solid #919191 !important;
}