#logo-svg{
    width: 212px;
    height: 33px;
    position: relative;
    top: 85px;
    left: 102px;
}

#container{
    text-align: center;
}

.container{
    padding-top: 155px;
}

#container #para1{
 margin-bottom: 30px;
}

#container input{
    margin-bottom: 15px;

}

#container #para3{
    margin-top: 220px;
}

.input-state{
	width: 130px !important;
}

.input-code{
	width: 130px !important;
	margin: 0px 0px 0px 10px !important;
}

#btn{
	margin-top: 90px !important;
}

#container{
	padding-top: 240px !important;
}

#logo-svg{
	top: 110px !important;
}