<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>three</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar> -->
      <div class="header-main-container">
        <div class="header-inner-container">
          <span><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="15" cy="15" r="13" fill="#383838" stroke="#7B7B7B" stroke-opacity="0.5" stroke-width="3" />
              <path
                d="M17.555 10.3054C17.555 10.3054 9.79108 13.5554 10.3327 14.9999C10.8744 16.4443 17.555 19.6943 17.555 19.6943"
                stroke="white" stroke-width="3" stroke-linecap="round" />
            </svg>
          </span>
          <span>
            <img src="../../assets/icon/image 2.png" alt="">
          </span>
        </div>
      </div>
      <!-- <ion-title size="large">three</ion-title> -->
    
  </ion-header>
  <div id="main-container" style="height: 75% !important;">
    <!-- <div id="logo-svg">
      
    </div> -->
    <div id="container" class="container">
      <div id="bank-div">
        <!-- <svg style="margin: -5px 20px 0px 0px" width="30" height="30" viewBox="0 0 30 30" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="13" fill="#383838" stroke="#7B7B7B" stroke-opacity="0.5" stroke-width="3" />
          <path
            d="M17.555 10.3054C17.555 10.3054 9.79108 13.5554 10.3327 14.9999C10.8744 16.4443 17.555 19.6943 17.555 19.6943"
            stroke="white" stroke-width="3" stroke-linecap="round" />
        </svg> -->
        <p id="para" class="para-you">You’ll make</p>
        <p id="para11">$10.55</p>
      </div>
      <!-- <p id="para1">Be a deliver driver, ez.</p> -->
      <!-- <input type="text" placeholder="email" id="input"> -->
      <button id="btn">ACCEPT</button>
      <p id="plaid-para">REJECT</p>
    </div>
    <div id="container" class="cont">
      <!-- <button id="btn1">NEXT</button> -->
      <p id="para3">ezMeals calculates your delivery fee based on a number of factors,
        such as distance, demand, number of drivers, and others. Prices
        may fluctuate depending on these factors.</p>
    </div>
  </div>
</ion-content>